{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- ============================ COMPONENT 1 ================================= -->
<section class="section-content padding-y bg">
  <div class="container">
    <h4 class="text-center mb-10">Review Your Order and Make Payment</h4>

  <div class="row">
    <aside class="col-lg-8">
      <div class="card">
        <h5 class="card-header">
          Billing Address
        </h5>
        <div class="card-body">
          <p class="card-text mb-0">{{ order.full_name }}</p>
          <p class="card-text mb-0">{{ order.full_address }}</p>
          <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
          <p class="card-text mb-0">{{ order.country }}</p>
          <p class="card-text mb-0">{{ order.email }}</p>
          <p class="card-text mb-0">{{ order.phone }}</p>
          {% if order.order_note %}
            <b>Order Note: </b>{{ order.order_note }}
          {% endif %}
        </div>
      </div>  
      <div class="card">
        <h5 class="card-header">
          Payment Method
        </h5>
        <div class="card-body">
          <p class="card-text">PayPal</p>
        </div>
      </div>  
      <div class="card">
        <h5 class="card-header">
          Review Products
        </h5>
        <div class="card-body">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
              </tr>
            </thead>
          <tbody>
          {% for item in cart_items %}
          <tr>
            <td>
              <figure class="itemside align-items-center">
                <div class="aside"><img src="{{ item.product.images.url }}" class="img-sm"></div>
                <figcaption class="info">
                  <a href="{{ item.product.get_url }}" class="title text-dark">{{ item.product.product_name }}</a>
                  <p class="text-muted small">
                    {%  if item.variations.all %}
                      {% for variation_item in item.variations.all %}
                        {{ variation_item.variation_category | capfirst }} : {{variation_item.variation_value | capfirst}}
                        <br/>
                      {% endfor %}
                    {% endif %}  
                  </p>
                </figcaption>
              </figure>
            </td>
            <td> 
              <!-- col.// -->
               <label for="">{{ item.quantity }}</label>
            </td>
            <td> 
              <div class="price-wrap"> 
                <var class="price">${{ item.sub_total }}.00</var> 
                <small class="text-muted"> ${{ item.product.price }}.00 each </small> 
              </div> <!-- price-wrap .// -->
            </td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>  
    </aside> <!-- col.// -->
    <aside class="col-lg-4">

      <div class="card">
      <div class="card-body">
        <dl class="dlist-align">
          <dt>Total price:</dt>
          <dd class="text-right">$ {{ total }}</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Tax:</dt>
          <dd class="text-right"> $ {{ tax }}</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Grand Total:</dt>
          <dd class="text-right text-dark b"><strong>$ {{ grand_total }}</strong></dd>
        </dl>
        <hr>
        <p class="text-center mb-3">
          <img src="" height="26">
        </p>

        <!-- PayPal Form - BE django-paypal-->
        <!-- <div class="text-center">{{ paypal_form.render }}</div> -->

        <!-- Client Side PayPal -->
         <div id="paypal-button-container"></div>
         <div id="result-message"></div>
        {% csrf_token %}

      </div> <!-- card-body.// -->
      </div> <!-- card.// -->

  </aside> <!-- col.// -->

  </div> <!-- row.// -->
  <!-- ============================ COMPONENT 1 END .// ================================= -->

  </div> <!-- container .//  -->
</section>

<script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo,paylater,card"data-sdk-integration-source="developer-studio"></script>

<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- PayPal -->
<script defer>
  const order_number = "{{proforma_order_number}}"

  const paypalButtons = window.paypal.Buttons({
   style: {
        shape: "pill",
        layout: "vertical",
        color: "gold",
        label: "paypal",
    },
   
  async createOrder() {
      try {
          const response = await fetch(`/orders/paypal_orders?proforma_order_number=${order_number}`);
          const orderData = await response.json();
          console.log(`orderData: ${JSON.stringify(orderData)}`)

          if (orderData.id) {
              return orderData.id;
          }
          const errorDetail = orderData?.details?.[0];
          const errorMessage = errorDetail
              ? `${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
              : JSON.stringify(orderData);

          throw new Error(errorMessage);
      } catch (error) {
          console.error(error);
          resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
      }
  },
  
  async onApprove(data, actions) {
      const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
      
      // *** data ***
      // billingToken : null
      // facilitatorAccessToken : "bjmffaSj8tvWVzCWwJQXXXXXXX"
      // orderID : "9MG16871JE0906614" --> transaction id
      // payerID : "XXXXX"
      // paymentID : "XXXXXX"
      // paymentSource : "paypal"


      try {
          const response = await fetch(
              `/orders/paypal_orders/${data.orderID}/capture/`,
              {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                      "X-CSRFToken": csrf_token,
                      "mode": 'same-origin',
                  },
              }
          );

          const orderData = await response.json();
          // Three cases to handle:
          //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
          //   (2) Other non-recoverable errors -> Show a failure message
          //   (3) Successful transaction -> Show confirmation or thank you message

          const errorDetail = orderData?.details?.[0];

          if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
              // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
              // recoverable state, per
              // https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
              return actions.restart();
          } else if (errorDetail) {
              // (2) Other non-recoverable errors -> Show a failure message
              // window.location.replace(`/orders/paypal_orders/${data.orderID}/failure/`)

              throw new Error(
                  `${errorDetail.description} (${orderData.debug_id})`
              );

          } else if (!orderData.purchase_units) {
              throw new Error(JSON.stringify(orderData));
          } else {
              // (3) Successful transaction -> Show confirmation or thank you message
              // Or go to another URL:  actions.redirect('thank_you.html');
              const transaction =
                  orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
                  orderData?.purchase_units?.[0]?.payments
                      ?.authorizations?.[0];

              console.log(
                  "Capture result",
                  orderData,
                  JSON.stringify(orderData, null, 2)
              );

              // *** Order Data ***
              // {
              //   "create_time": "2025-09-30T05:18:27Z",
              //   "update_time": "2025-09-30T05:18:40Z",
              //   "id": "9MG16871JE0906614",
              //   "payment_source": {
              //     "paypal": {
              //       "email_address": "greatkart20250925@personal.example.com",
              //       "account_id": "5SNK4F3W4LZRU",
              //       "account_status": "VERIFIED",
              //       "name": {
              //         "given_name": "John",
              //         "surname": "Doe"
              //       },
              //       "address": {
              //         "country_code": "US"
              //       }
              //     }
              //   },
              //   "intent": "CAPTURE",
              //   "payer": {
              //     "email_address": "greatkart20250925@personal.example.com",
              //     "payer_id": "5SNK4F3W4LZRU",
              //     "name": {
              //       "given_name": "John",
              //       "surname": "Doe"
              //     },
              //     "address": {
              //       "country_code": "US"
              //     }
              //   },
              //   "purchase_units": [
              //     {
              //       "reference_id": "default",
              //       "amount": {
              //         "currency_code": "USD",
              //         "value": "19.38",
              //         "breakdown": {
              //           "item_total": {
              //             "currency_code": "USD",
              //             "value": "19.00"
              //           },
              //           "shipping": {
              //             "currency_code": "USD",
              //             "value": "0.00"
              //           },
              //           "handling": {
              //             "currency_code": "USD",
              //             "value": "0.00"
              //           },
              //           "tax_total": {
              //             "currency_code": "USD",
              //             "value": "0.38"
              //           },
              //           "insurance": {
              //             "currency_code": "USD",
              //             "value": "0.00"
              //           },
              //           "shipping_discount": {
              //             "currency_code": "USD",
              //             "value": "0.00"
              //           }
              //         }
              //       },
              //       "payee": {
              //         "email_address": "greatkart20250925@business.example.com",
              //         "merchant_id": "NHEKU2LDKMLP6"
              //       },
              //       "description": "ATX-Jeans",
              //       "items": [
              //         {
              //           "name": "ATX-Jeans",
              //           "unit_amount": {
              //             "currency_code": "USD",
              //             "value": "19.00"
              //           },
              //           "quantity": "1",
              //           "tax": {
              //             "currency_code": "USD",
              //             "value": "0.00"
              //           },
              //           "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
              //           "sku": "[<QuerySet [<Variation: Blue>, <Variation: Small>]>]",
              //           "category": "PHYSICAL_GOODS"
              //         }
              //       ],
              //       "shipping": {
              //         "name": {
              //           "full_name": "John Doe"
              //         },
              //         "address": {
              //           "country_code": "US",
              //           "address_line_1": "1 Main St",
              //           "admin_area_2": "San Jose",
              //           "admin_area_1": "CA",
              //           "postal_code": "95131"
              //         }
              //       },
              //       "payments": {
              //         "captures": [
              //           {
              //             "status": "COMPLETED",
              //             "id": "46V59809J51476349",
              //             "amount": {
              //               "currency_code": "USD",
              //               "value": "19.38"
              //             },
              //             "seller_protection": {
              //               "status": "ELIGIBLE",
              //               "dispute_categories": [
              //                 "ITEM_NOT_RECEIVED",
              //                 "UNAUTHORIZED_TRANSACTION"
              //               ]
              //             },
              //             "final_capture": true,
              //             "seller_receivable_breakdown": {
              //               "gross_amount": {
              //                 "currency_code": "USD",
              //                 "value": "19.38"
              //               },
              //               "paypal_fee": {
              //                 "currency_code": "USD",
              //                 "value": "1.17"
              //               },
              //               "net_amount": {
              //                 "currency_code": "USD",
              //                 "value": "18.21"
              //               }
              //             },
              //             "disbursement_mode": "INSTANT",
              //             "links": [
              //               {
              //                 "href": "https://api.sandbox.paypal.com/v2/payments/captures/46V59809J51476349",
              //                 "rel": "self",
              //                 "method": "GET"
              //               },
              //               {
              //                 "href": "https://api.sandbox.paypal.com/v2/payments/captures/46V59809J51476349/refund",
              //                 "rel": "refund",
              //                 "method": "POST"
              //               },
              //               {
              //                 "href": "https://api.sandbox.paypal.com/v2/checkout/orders/9MG16871JE0906614",
              //                 "rel": "up",
              //                 "method": "GET"
              //               }
              //             ],
              //             "create_time": "2025-09-30T05:18:40Z",
              //             "update_time": "2025-09-30T05:18:40Z"
              //           }
              //         ]
              //       }
              //     }
              //   ],
              //   "status": "COMPLETED",
              //   "links": [
              //     {
              //       "href": "https://api.sandbox.paypal.com/v2/checkout/orders/9MG16871JE0906614",
              //       "rel": "self",
              //       "method": "GET"
              //     }
              //   ]
              // }
              // Database Update at the backend side

              const response = await fetch(`/orders/paypal_orders/${data.orderID}/success/`, 
                  {
                      method: 'POST', // or 'GET'
                      headers: {
                          "Content-Type": "application/json",
                          "X-CSRFToken": csrf_token,
                          "mode": 'same-origin'
                      },
                      body: JSON.stringify({
                          order_number: order_number,
                          transcation_id: orderData.id,
                          payment_method: "PayPal",
                          purchase: orderData.purchase_units,
                          status: orderData.status,
                          order_data: orderData,
                      }) // Optional: send data to backend
                  })

              const backendResponse = await response.json();
              // console.log(backendResponse)
              // *** backend response ***
              // order_number: "20250930054113gogocfa@yahoo.co.jp"
              // transaction_id: "8D527909RJ589221C"

              // await window.location.href = "/orders/paypal_orders/?order_number=" + order_number + "&transaction_id=" + data.orderID;
              await window.location.replace(`/orders/paypal_orders/order_complete/?order_number=${order_number}&transaction_id=${data.orderID}`)
          }
      } catch (error) {
          console.error(error);
          resultMessage(
              `Sorry, your transaction could not be processed...<br><br>${error}`
          );
      }
  },
  
});
paypalButtons.render("#paypal-button-container");


// Example function to show a result to the user. Your site's UI library can be used instead.
function resultMessage(message) {
    const container = document.querySelector("#result-message");
    container.innerHTML = message;
}
</script>
{% endblock %}